<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta th:replace="fragments/css :: head"></meta>
</head>
<body>
<div class="app-container">
    <header th:replace="fragments/header :: header(2)"></header>


    <div class="main">
        <div th:replace="fragments/alert :: alert (type='success', message=${message})"></div>
        <div class="content-block">
		    <header class="level1">
		        <h6 th:text="${product.name} + '\'s customers'">Product's customers</h6>
		    </header>
		    <div class="content">
		        <table class="basic-table links-alt-color">
			        <thead>
			            <tr>
			                <th>#</th>
			                <th>ID</th>
			                <th>Name</th>
			            </tr>
			        </thead>
		            <tbody>
		            <tr th:each="customer,rowStat: ${customers}">
		                <td th:text="${rowStat.index}">Oranges</td>
		                <td th:text="${customer.id}">Oranges</td>
		                <td><a th:href='@{/customer/} + ${customer.id}' th:text="${customer.name}"></a></td>
		            </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
    </div>
</div>


<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>