<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta th:replace="fragments/css :: head"></meta>
</head>
<body>
<div class="app-container">
    <header th:replace="fragments/header :: header(2)"></header>


    <div class="main">
        <div th:replace="fragments/alert :: alert (type='success', message=${message})"></div>
        <div class="content-block">
		    <header class="level1">
		        <h6>All Products</h6>
		        <div class="header-actions-right">
		        	<a th:href="@{/product/add}">
		        		<button>Add new</button>
		        	</a>
		        </div>
		    </header>
		    <div class="content">
		        <table id="productTable" class="basic-table links-alt-color">
		            <tbody>
		            <thead>
		            <tr>
		                <th>#</th>
		                <th>Name</th>
		                <th>Operation</th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr th:each="product,rowStat: ${products}">
		                <td th:text="${rowStat.index}">Oranges</td>
		                <td><a th:href='@{/product/} + ${product.id}' th:text="${product.name}"></a></td>
		                <td><a data-op="delete" href="javascript:void(0)"
		                       th:attr="data-id=${product.id},data-name=${product.name}">Delete</a></td>
		            </tr>
		            </tbody>
		            </tbody>
		        </table>
		    </div>
		</div>
		
<!--         <ol class="breadcrumb"> -->
<!--             <li><a th:href="@{/}">Home</a></li> -->
<!--             <li class="active">Products</li> -->
<!--         </ol> -->
        
    </div>
</div>


<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>