#chat{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
}
#user-list{
    width: 240px;
    display: flex;
    margin-right: 3px;
    flex-direction: column;
}
#user-list .content {
    flex:1;
    overflow: auto;
    background-color: #252529;
    flex-direction: column;
}
#messages{
    flex:1;
    display: flex;
    flex-direction: column;
}
#messages .content{
    flex:1;
    background-color: #252529;
    flex-direction: column;
}

#message-container{
    flex:1;
}

#login{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
#login>.content-block{
    width: 400px;
    height: 200px;
    background: #0a0a0a;
}