<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Demo</title>
<meta th:replace="fragments/css :: head"></meta>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/app.js}"></script>
</head>
<body>
	<div class="app-container">
		<header th:replace="fragments/header :: header(0)"></header>
		<div class="container">
			<div class="page-header">
				<h1>
					Spring demo <small>Click nav.</small>
				</h1>
			</div>
			<div class="content-block">
				<header class="level1">
					<h6>Websocket Demo</h6>
				</header>
				<div class="content">
					Websocket status : <span id="status"></span>
					<br />
					Data from server : <span id="data"></span>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>