<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<!-- 	<link rel="stylesheet" href="webui/css/EikonWebUI.css" /> -->
</head>
<body>
<header th:replace="fragments/header :: header(0)"></header>
<div class="container">
    <div class="page-header">
        <h1>
            Spring demo
            <small>Click nav.</small>
        </h1>
    </div>
</div>

<!-- <div th:insert="footer :: copy"></div> -->
<!-- <div th:replace="footer :: copy"></div> -->
<!-- <div th:include="footer :: copy"></div> -->
<!-- <div th:insert="~{footer :: copy}"></div> -->
<!-- <div th:replace="{fragments/header :: header}">Header</div> -->
<!-- <div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div> -->
<!--<script src="js/jquery-3.2.1.min.js"></script>-->
<!--<script src="js/bootstrap.js"></script>-->
</body>
</html>